body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}


div {
	border: 1px solid #DDD;
	display: block;	
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: #838994;
}


}
/** Navigation Section */

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
    height: 4.375rem;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	margin-left: 1.5634rem;
	font-weight: 500;
	color: #838994;
	
	}

.content {
	width: 800px;

}
.logo {
	height: 4.375rem;
}

.links {
	float: right;
	margin-top: 1.7rem;
}

li {
	display: inline-block;
	list-style: none;
	margin-left: 1.5634rem;
}

li.active {
	color: #4c5058;
	font-weight: bold;
}

/** Introduction Section*/


.introduction {
	background-image:url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
	text-align: center;
	font-weight: 300;
	padding: .935rem;
}

h1 {
	margin-top: 17.5rem;
	padding: 0 0.938rem;
	font-size: 3.125rem;
	color: white;
}

h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
	color: white;
}



.buttons {
    background-color: #f15b2a; /* tomato, rbg(241, 91, 42) */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.563px 1px 4px 1px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px
}
