
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
	vertical-align: baseline;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}


body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	/**border: 1px solid #ddd;**/
}

.content {
	margin: 0 auto;
	padding: 0 .938rem;
	min-width: 37.5rem;
	width: 78%;
}

:focus {
	outline: none;
}

/*Navigation Section **/

/*override of normalized stylesheet to fix navigation bar to top*/
nav {
	background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
    height: 71px;
}

.top-navigation {
	background-color: #fff;
}

img {
	margin-top: .5rem;
}

li {
	display: inline-block;
	margin-left: 1.563rem;
}

ul.links {
	color: #838994;
	font-size: 16px;
	margin-top: 17px;
	float: right;
	width: 507px; /*should i use a percentage vs exact, this is the only way i could get the 
	text to not collapse upon closing browser**/
}

li:hover {
    cursor: pointer;
    color: #333333;
}


li.active {
	color: #4c5058;
	font-weight: 500;
}

/*Introduction Section **/

.introduction {
	background-image:url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 45.938rem;
	overflow: auto;
	font-weight: 300;
	color: white;
	margin: 0;
}

h1 {
	margin-top: 17.5rem;
	height: 50px;
	font-size: 3.125rem;
	font-weight: 300;
}

h3 {
	height: 25px;
	margin-top: 1.25rem;
	font-size: 1.563rem;
	font-weight: 300;
	margin-bottom: 1.563rem;
}

button {
	width: 9.688rem;
	height: 55px;
	background-color: #f15a29;
	border: none;
	border-radius: 4px;
    color: white;
    font-size: 1.125rem;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

/*Cases Section **/
.cases {
	overflow: hidden;
	padding-bottom: 5rem;
}

.cases > .content {
	margin-top: 7.85rem;
	color: #1d1e21;
	text-align: center;
	padding: none;
}

.content > h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}


.caption > h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0 1.875rem;
}

.devices {
	margin: 1em;
	padding: 0;
}

/* Footer **/

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;  
}

h5 {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
    font-size: 100%;
    display: box;
    text-align: center;    
}

.icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.social .icons > li:hover {
   cursor: pointer;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #4c66a4;
}

.instagram {
    color: #3f729b;
}

.copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

